**FOR**

For loops are used for sequential traversal. For example: traversing a list or string or array etc. In Python, there is no C style for loop, i.e., for (i=0; i<n; i++). There is “for in” loop which is similar to for each loop in other languages.

In [ ]:
#Example 1 with string

for i in "Home":
  print(i)

H
o
m
e

In [ ]:
#Example 2 with variable
name = "John"

for i in name:
  print(i)

J
o
h
n

In [ ]:
#Example 3 with range
n = 5

for i in range(2, n):
  print(i)

2
3
4

In [ ]:
#Example 4 with list
stream = ['Disney', 'Netflix', 'iQIYI', 'Viu']

print("Streaming platform:")
for i in stream:
  print(i)

Streaming platform:
Disney
Netflix
iQIYI
Viu

**Iterating by the index of sequence**

We can also use the index of elements in the sequence to iterate. The key idea is to first calculate the length of the list and in iterate over the sequence within the range of this length.

In [ ]:
colors = ['red', 'blue', 'yellow', 'green']

for index in range(len(colors)):
  print(colors[index])

red
blue
yellow
green

**WHILE**

In python, while loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.

All the statements indented by the same number of character spaces after a programming construct are considered to be part of a single block of code. Python uses indentation as its method of grouping statements.

In [ ]:
#Example 1 
start = 1

while (start <= 3):
  print(start,"Hello World")
  start += 1

1 Hello World
2 Hello World
3 Hello World

In [ ]:
#Example 2 with input
x = int(input("enter a number: "))

while (x > 0):
  print("count down...", x)
  x -= 1
print("Go!")

enter a number: 3
count down... 3
count down... 2
count down... 1
Go!

**Nested Loops**

Python programming language allows to use one loop inside another loop. Following section shows few examples to illustrate the concept.

In [ ]:
#Nested for example

for i in range(1,4):
  for j in range(i):
    print(i, end = ' ')
  print()

1
2 2
3 3 3

In [ ]:
#Nested while example
i = 0
j = 0
ob = ['rainy', 'summer']

while (i <= 2):
  while (j <= 1):
    print(i+1, j+1, ob[j])
    j += 1
  j = 0
  i += 1

1 1 rainy
1 2 summer
2 1 rainy
2 2 summer
3 1 rainy
3 2 summer

**Loop Control Statement**

Loop control statements change execution from its normal sequence. When execution leaves a scope, all automatic objects that were created in that scope are destroyed. Python supports the following control statements.
1. Break Statement
2. Continue Statement
3. Pass Statement

**Break**

Break brings control out of loop

In [ ]:
for i in "Indonesia":
  if i == "e":
    break
  print(i, end = "")

Indon

**Continue**

Continue returns the control to the beginning of the loop

In [ ]:
for i in "Himalaya":
  if i == "a":
    continue
  print(i, end = "")

Himly

# Else For Loops

##Else After For

In Python, the else function is also known after for. The function is prioritized on the loop
search - to provide program exits when search is not
found

For loops also have an else clause which most of us are unfamiliar with. The else clause executes after the loop completes normally. This means that the loop did not encounter a break statement. 

The common construct is to run a loop and search for an item. If the item is found, we break out of the loop using the break statement. There are two scenarios in which the loop may end. The first one is when the item is found and break is encountered. The second scenario is that the loop ends without encountering a break statement.

In [ ]:
#This is the basic structure of a for/else loop:

for item in container:
    if search_something(item):
        # Found it!
        process(item)
        break
else:
    # Didn't find anything..
    not_found_in_container()

In [ ]:
for x in range(200,300):
    if x % 25 == 0 :
        print("{} is even".format(x))
        break
    else:
        print("{} isn't even".format(x))

200 is even

In [ ]:
for x in range(200,300):
    if x % 25 == 0 :
        print("{} is even".format(x))
        continue

200 is even
225 is even
250 is even
275 is even

## Else After While

In the while statement, the else statement block will always be
executed when the condition in while becomes false.

With the else statement we can run a block of code once when the condition no longer is true.

In [ ]:
point = int(input())

while (point <= 25):
    point = point * 2
    if point == 50:
        break
    print(point)
else:
    print("loop selesai")

2
4
8
16
32
loop selesai

In [ ]:
point = int(input())

while (point <= 25):
    point = point * 2
    if point == 50:
      print(point)
else:
    print("loop selesai")

2
loop selesai

PASS

This function is used to skip an iteration of the loop because in loop empty code is not allowed. So when there is pass statement, there will be nothing happens, but it will skip the error while there is empty code

In [ ]:

print('Even number between 1-7')
for x in range(1,7):
    if x % 2 == 1:
        pass
        #this statement will pass odd number
    else:
        print(x)

Even number between 1-7
2
4
6

In [ ]:
#without pass

n=""
while(n!="exit"):
  n = (input("peroleh:"))
  print("dapat angka {}".format(int(n)))

#error if put string in input

peroleh:12
dapat angka 12
peroleh:sass

ValueError: ignored

In [ ]:
#with pass

import sys
n=""
while(n!="exit"):
  try:
    n=(input("peroleh:"))
    print("dapat angka{}".format(int(n)))
  except:
    if n=="exit":
      pass
    else:
      print("error{}".format(sys.exc_info()[0]))

#if there is a string in input, program will not stop but will give an error code

peroleh:12
dapat angka12
peroleh:sass
error<class 'ValueError'>
peroleh:exit

LIST COMPREHENSION

Making list from inline loop and if

In [ ]:
ang=[2,3,4]
#filled list

cube=[]
#empty list

for i in ang:
  cube.append(i**3)
print(cube)
#fill the cube list from ang list multiplied by three

[8, 27, 64]

Writing in another way

new_list = [expression for_loop_one_or_more conditions]

Not only for one list

In [ ]:
# Example (2 list)
color1=['red','yellow','green','black']
color2=['purple','blue','white','yellow']

duplicate = []

for i in color1:
    for j in color2:
      if i == j:
          duplicate.append(i)
print(duplicate)

['yellow']

In [ ]:
color1=['red','yellow','green','black']
color2=['purple','blue','white','yellow']

duplicate = [i for i in color1 for j in color2 if i == j]

print(duplicate)

['yellow']

In [ ]:
city = ["saint","petersburg"]

upper = [_.upper() for _ in city]

print(upper)

['SAINT', 'PETERSBURG']

In [ ]:
city = ["saint","petersburg"]

proper = [_.title() for _ in city]

print(proper)

['Saint', 'Petersburg']

In [ ]:
city = ["saint","petersburg"]

proper=[]

for i in city:
  proper.append(i.title())
print(proper)

['Saint', 'Petersburg']





* Underscore includes valid variable naming

* In general "_" is used as a throwaway variable (unimportant variable)

In [ ]:
# Expression can be more than one
number = range(4,10,2)
division_addition = [[_/2,_+4] for _ in number]
print(division_addition)

[[2.0, 8], [3.0, 10], [4.0, 12]]

In [ ]:
for i in range(4,10,2):
  print(i)

4
6
8

In [ ]:
numerator = range(1, 5)
divider = range(1, 5)

list = []

for x in numerator:
  for y in divider:
    if x//y == 1 and x%y ==1:
      list.append([x, y])
print(list)

[[3, 2], [4, 3]]

Error and Exeption Handling

Two types of errors based on their occurrence:

1. Syntax errors
2. Exceptions

Syntax Error

Syntax error occurs when python can't understand what you're commanding

Some most common causes of syntax errors:
* Misspelled reserved keywords
* Missing required spaces
* Missing quotes
* Misuse of block statements (if-else, loops)
* Missing assignment operator (=)
* Invalid variables declaration
* Invalid function calling or defining

Example, inappropriate indentation (space at the beginning)

In [ ]:
for i in "data":
print(i)

IndentationError: ignored

Example, the condition of the command to be required to exist (:)

In [ ]:
for i in "data"
    print(i)

SyntaxError: ignored

# **Exception**

Exception are also called Runtime errors

* Even if we have written a statement or expression from python correctly, there is a possibility that an error will occur when the command is executed
* Errors that occur while the process is in progress are called exceptions and can be fatal if not handled


* Most exceptions in python are not handled by the application, so the application crashes and then an error message appears

In [ ]:
# runtime error
print(name)

NameError: ignored

variable of type string is operated with a number (type integer)

In [ ]:
# Logical error
pertama="1"

In [ ]:
pertama + 2

TypeError: ignored

in arithmetic (the division is evaluated before addition) the program will not give the correct answer:

In [ ]:
# Logical error
x = float(input('enter number : '))
y = float(input('enter number : '))

z = x+y/3
print(z)

enter number : 9
enter number : 3
10.0

In [ ]:
# runtime error
a = [1,2,3,4]
print(b)

NameError: ignored

In [ ]:
# runtime error
name = brand [1]

NameError: ignored

# Error Handling Part II
Error Handling is used to help hardware and software error and to help resume the execution when interrupted. There are several ways for us to design error handling. one of them is by using try and except. this command is capable of determine to handle the error based on the types of error. some of the example of error including:
1. Zero by Division error
2. File Not Found Error
3. Key Error
4. Value Error
5. Type Error

In [ ]:
#ERROR HANDLING WITH TUPLE for FileNotFoundError
try:
  with open("farhan.py") as file:
    print(file.read())
except FileNotFoundError:
  print("File can't be Found")

File can't be Found

In [ ]:
#ZERO BY DIVISION ERROR
a = 0 
try:
  division = 1/a
  print(division)
except ZeroDivisionError:
  print("Calculation can't be processed")

Calculation can't be processed

In [ ]:
#OPEN FILE ERROR
try:
  with open("genre_film.ipynb") as file:
    print(file.read())
except FileNotFoundError:
  print("file Not Found")

file Not Found

In [ ]:
try:
  with open("genre_film.ipynb") as file:
    print(file.read())
except (FileNotFoundError,):
  print("file tidak ditemukan")

file tidak ditemukan

value and key error usually can be found in dictionary whereas the syntax try to call the value or key but the value or key are not exists

In [ ]:
#value and key exception
d = {"nama" : "farhan"}

try:
  print("nama",d["namaa"])
except (KeyError,):
  print("No Key in the Dictionary")
except ValueError:
  print("No Value in the Dictionary")

No Key in the Dictionary

error can also be combined to include multiple types of error

In [ ]:
#gabungan error
d = {"nama" : "farhan"}

try:
  print("nama",float(d["nama"]))
except (KeyError,):
  print("No Key in the Dictionary")
except (ValueError,TypeError) as e:
  print("No Value in the Dictionary.",e)

No Value in the Dictionary. could not convert string to float: 'farhan'

# Functions - Definition, Calling and Returning Functions

# FUNCTION

1. In mathematics, a function is a process that relates an input and an output.

2. In Python, apart from these relational functions, functions are also a way to organize code - with the ultimate goal of code reusability.

3. Instead functions have only one specific use but can be reused.

4. Python's common functions are provided.

5. But we can always define our own function.

# Defining a Function

1. Functions are defined with the def keyword followed by the name of the function and its parameters in brackets ().

2. Optionally, you can add a docstring - a documentation string that describes the context of the function.

3. The code block in each function starts with a colon and is indented.

4. The function stops when there is a return [expression] statement that returns [expression] to the caller.

5. You can also make the function return no output by returning None.

In [ ]:
def pangkat(x):
    kuadrat = x**2
    return kuadrat

In [ ]:
pangkat(3)

9

In [ ]:
def pangkat(x):
    kuadrat = x**2
    print(kuadrat)

In [ ]:
pangkat(3)

9

In [ ]:
def kubik(z):
    pangkat = z**3
    return pangkat

In [ ]:
kubik(3)

27

By default, Python will position each parameter in the order in which it was registered when it was defined, and must be called in that order.

In [ ]:
def nama(a):
    halo = "Hai {}".format(a)
    return halo

In [ ]:
nama("Rifki")

'Hai Rifki'

#Return

The return [expression] statement will make program execution exit the current function, while returning a specified value.

In [ ]:
def tambah(x,y):
    plus = x + y #fungsi penjumlahan
    print("Hasil penjumlahan adalah {}".format(plus))
    return plus

In [ ]:
tambah(2,3)

Hasil penjumlahan adalah 5

5

In [ ]:
output = tambah(2,3)
print("Hasil dari return adalah {}".format(output))

Hasil penjumlahan adalah 5
Hasil dari return adalah 5

1. The return value of a function can be stored in a variable.

2. This is what will distinguish a function that returns a value from a function that does not return a value (often referred to as a procedure).

In [ ]:
def kali(c):
    kuadrat = c**2
    return kuadrat

In [ ]:
kali(4)

16

In [ ]:
angka = int(input().strip())
hasil = kali(angka)
print("hasilnya adalah {}".format(hasil))

4
hasilnya adalah 16

In [ ]:
print("Hasil kuadrat dari {} adalah {}".format(angka, hasil))

Hasil kuadrat dari 4 adalah 16

#Pass by reference vs value

1. All parameters (arguments) in Python are "passed by reference". This means that when we change a variable, the data that refers to it will also change, both inside the function and outside the calling function.

2. Unless we do an assignment operation that will change the reference parameter.

In [ ]:
def rubah(dalam_list):
    dalam_list = [3,4]  # in local must be changed here
    print("Nilai dalam fungsi adalah {}".format(dalam_list))

In [ ]:
dalam_list = [5,6]
rubah(dalam_list)  # in global can't change in local
print("Nilai di luar fungsi adalah {}".format(dalam_list))

Nilai dalam fungsi adalah [3, 4]
Nilai di luar fungsi adalah [5, 6]

# Function Arguments and Parameters

1. Parameter is the definition of the input the function accepts

2. Arguments are what we put in when we call the function

In [ ]:
def pangkat(x):
    kuadrat = x**2
    return kuadrat

x is a parameter

However we call it the power(3) then 3 is the argument